<section id="pfs-social">
    <div class="container">
        <h1>Connect with us</h1>
        <div class="social-icons-wrap">
            {% include icon-facebook.html username=site.data.settings.facebook_username %}
            {% include icon-twitter.html username=site.data.settings.twitter_username %}
            {% include icon-linkedin.html username=site.data.settings.linkedin_username %}
            {% include icon-googleplus.html username=site.data.settings.googleplus_username %}
        </div>
    </div>    
</section>