<section id="pfs-slider">
    <div class="slider">
        <input type="radio" name="boton" class="boton" checked="checked">
        <label></label>
        <input type="radio" name="boton" class="boton">
        <label></label>
        <input type="radio" name="boton" class="boton">
        <label></label>

        <div class="contenedor-img tres-imagenes">
            <div class="text-overlay">
                <h1>PFS</h1>
                <p>Prime Factor Solutions is an outsourcing company providing software quality assurance and software development services.</p>
            </div>
            <img src="{{site.baseurl}}/imgs/About_Tunari.jpg" alt="">
            <div class="text-overlay">
                <h1>QUALITY ASSURANCE</h1>
                <p>We make sure that your product is going to meet the specific requirements.</p>
            </div>
            <img src="{{site.baseurl}}/imgs/qa_apps.jpg" alt="">
            <div class="text-overlay">
                <h1>CUSTOM SOLUTIONS</h1>
                <p>We build world sites with Python, HTML5 & CSS3</p>
            </div>
            <img src="{{site.baseurl}}/imgs/web_tech.jpg" alt="">
        </div>
    </div>
</section>